* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}

img {
  width: 100%;
  max-width: 100%;
}

main {
  width: 80%;
  max-width: 100%;
  margin: 1.2rem auto;
  background-color: orange;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  background-color: purple;
  /* padding: 2rem; */
  /* column-gap: 2rem;
  row-gap: 2.5rem; */
  padding-top: 2rem;
  gap: 2rem;
  justify-content: center;
}

.blog {
  /* border: 2px solid rgba(10, 10, 10, 0.23); */
  /* padding: 1.2rem;
  text-align: center; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  /* grid-template-rows: repeat(4, min-content); */
}
