* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Tahoma", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.5rem;
}

p,
a,
li {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

.pricing {
  width: 100vw;
  max-width: 100%;
  background-color: rgba(214, 227, 221, 0.78);
}

.plans {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  /* background-color: orange; */
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  /* justify-content: center; */
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem 0;
  /* overflow: hidden; */
}

.plan {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  /* grid-template-rows: repeat(3, min-content); */
  row-gap: 2rem;
  background-color: rgba(247, 247, 231, 0.35);
  padding: 1.2rem 2rem;
  box-shadow: 0.75rem 0.5rem 2.5rem rgba(10, 10, 10, 0.35);
  /* margin: 2rem 0; */
  overflow: hidden;
}

.plan-price {
  display: grid;
  gap: 0.3rem;
}

.plan-price p:first-child {
  font-size: 2.5rem;
}

.plan-price p:nth-child(2) {
  color: rgba(64, 64, 233, 0.5);
  font-size: 3rem;
}

button {
  background-color: rgba(150, 100, 20);
  width: 60%;
  justify-self: center;
  padding: 1.2rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0.4rem 0.35rem 0.5rem rgba(10, 10, 10, 0.75);
  cursor: pointer;
}
